@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.safha {
  font-family: "Lalezar";
  color: gray;
  text-align: center;
  position: relative;
  top: 150px;
}

input {
  margin: 10px 0 20px 0;
  padding: 5px 0;
  border-radius: 5px;
}

.login table {
  margin: auto;
  position: relative;
  top: 200px;
  background-color: gray;
  width: 300px;
  box-shadow: 2px -4px 5px 5px gray;
}

.log {
  color: white;
  background-color: green;
  position: relative;
  top: 200px;
  right: 650px;
  width: 100px;
  height: 30px;
}

.create {
  text-align: center;
  position: relative;
  top: 200px;
}
