*{

margin : 0 ;
padding: 0; 
box-sizing: border-box;

}

body{

scroll-behavior: smooth;
scale:initial;
background-image: url("../../assets1/images/820088-full-size-hd-wallpaper-for-pc-full-screen-3840x2160-desktop.jpg");
background-repeat:no-repeat;
background-size: cover;
background-position: center center;
background-attachment:fixed;

}

.container{

height: 50px;
background-color: lightgray;
border: 1px solid gray;
display: flex;
position: relative;



}

.title{

position: absolute;
right : 1200px ;

}

.apart{

 font-size : 30px ;
 color : red ;
font-family : Brush Script Std ;

}

.container h2 , button{

position: relative;
left : 860px ;
margin: 10px 10px ;
font-family: "Curlz MT" ;
text-shadow: 0 0  20px gray;
font-style: italic;
text-indent : 10px ;
cursor : pointer ;

}

a{

    text-decoration: none;
    color : rgb(0, 0, 0);
    border: 1px solid rgb(187, 185, 185);
    border-radius: 5px;

}

button{

background-color: green;
top: 4px;
left: 890px;
font-size: 20px;
color: white;
height: 40px;
margin: 0 0 4px 0 ;

}

/* Home */

.home{

    width: auto;
font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
border: 1px solid rgb(177, 164, 164);
top: 60px;
color: white;
left: -440px;
border-radius: 5px;



}

