.notFound {
  width: 100vw;
  height: 100vh;
  background-color: rgb(31, 31, 31);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notFound h1 {
  color: red;
  font-size: 50px;
}

.notFound button {
  color: red;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 10px;
}

.notFound a {
  color: red;
  
}
