.card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.5s;
}
.card:hover {
  scale: 1.05;
}
.card-text {
  text-align: justify;
  color: #5d5c5c;
}

.read-more button {
  margin-left: 8px;
  border: none;
}

.read-more:hover {
  cursor: pointer;
  color: #f54980;
}
.card-footer {
  color: #666 !important;
}
