.container {
  font-weight: bold;
  margin: 50px;
  padding-bottom: 10px;
}

.addtodo {
  margin-top: 10px;
  display: flex;
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

button {
  width: 100px;
  height: 40px;
  background-color: rgb(211, 208, 208);
  border: 2px solid white;
  border-radius: 10px;
  margin-left: 10px;
}

input {
  border: 2px solid gray;
  width: 400px;
  border-radius: 10px;
  margin-left: 80px;
  padding-top: 0;
  padding-left: 10px;
}
