.details {
  border: 1px solid rgb(221, 218, 218);
  border-radius: 10px;
  padding: 30px;
  width: max-content;
  margin-right: 50px;
}

.imgs {
  margin-bottom: 15px;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-bottom: 15px;
}

.delete{

    padding: 5px;
    margin-left: 20px;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    position: relative;
    text-decoration: none;
    right: 80px;

}

.delete:hover{

color: white;
background-color: red;
scale: 1.1;

}

.edit{

    padding: 5px;
    margin-left: 20px;
    border: 1px solid blue;
    border-radius: 5px;
    color: blue;
    text-decoration: none;
    position: relative;
    right: 80px;
  margin-top: 5px;

}

.edit:hover{

    color: white;
    background-color: blue;
    scale: 1.1;
    margin-top: 5px;
    
    }
