.ser{

width: auto;
position: relative;
top: 550px;
text-align: center;
justify-content: center;
font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border: 1px solid rgb(177, 164, 164);
border-radius: 5px;


}