/* Ex One */

/* .row{

display: flex;
padding: 20px;
text-align: center;
font-size: 40px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

} */


/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
navbar {
  display: flex;
  align-items: center;
  color: rgb(235, 234, 234);
  padding: 0 20px;
  height: 90px;
  background-color: rgb(54, 54, 54);
} */
