@tailwind base;
@tailwind components;
@tailwind utilities;

/* /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
html{
    scroll-behavior : smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background:#f5f5f5;
}
section{
    padding: 3rem 0;
}
.section-info{
    padding: 1rem 0;
    text-align: center;
}
.section-title{
    font-size: 3rem;
}
.section-desc{
    color: #4e4e4e;
} */

/* font */

/* @font-face {

    font-family: Poppins;
     src: url('./assets/fonts/Poppins-Regular.ttf') ; 
   
}   */

/* utilities */
/* .d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
} 

 [class^='col-']{
    padding: 1rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-4{
    width: 33.33%;
}
.img-fluid{
    width: 100%;
    height: auto;
}  */

/* PROJECT 1 */

/* Calculetor */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #101116;
} */

/* ŸèSuccess */

/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

/* 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}  */

/* React-router-dom */

/* *{

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins' , sans-serif;

}

body{

    background-color: aliceblue;

}

.container{

max-width: 1200px;
margin: 0 auto;

} */

/* Main Projects */

/* @font-face {
  font-family: "Yekan";
  src: url(./asset/fonts/Yekan.ttf);
}

@font-face {
  font-family: "Lalezar";
  src: url(./asset/fonts/Lalezar.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yekan", sans-serif;
} */


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Real Projects */

/* @font-face {
    font-family: "Lalezar";
    src: url("./Real_Project/assets/fonts/Lalezar.ttf");
}

@font-face {
    font-family: "Yekan";
    src: url("./Real_Project/assets/fonts/Yekan.ttf");

}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yekan" , sans-serif;

}

.lalezar{

    font-family: "Lalezar";
    
    } */


