
h4 {
  position: relative;
  bottom: 55px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

sum {
  position: relative;
  bottom: 20px;
  left: 15px;
  padding: 0 10px;
  background-color: red;
  border-radius: 30px;
  font-weight: bold;
  justify-content: center;
  color: white;
}
