.all {
  text-align: center;
}

.Title {
  font-family: "Lalezar";
  color: green;
  text-align: center;
}

.Link {
  text-decoration: none;
  color: white;
  font-size: 25px;
  background: linear-gradient(white, black, white);
  margin-left: 70px;
  margin-right: 20px;
}

.Link:hover {
  background-color: white;
  color: yellow;
}

.report {
  margin-top: 20px;
}

textarea {
  width: 500px;
  height: 300px;
}

.done {
  text-align: center;
}

.confirm {
  margin-left: 20px;
  border: none;
  background: green;
  color: white;
  width: 100px;
  border: 1px solid rgb(110, 108, 108);
  border-radius: 5px;
}

.cancel {
  margin-left: 20px;
  border: none;
  background: red;
  color: white;
  width: 100px;
  border: 1px solid rgb(110, 108, 108);
  border-radius: 5px;
}
