.details {
  padding: 100px;
  width: 600px;
  text-align: center;
  background-color: rgb(247, 243, 239);
  box-shadow: 0px 1px 0px 2px rgb(228, 224, 224);
}

.imagesize {
  border-radius: 20px;
}

.col1 {
  margin-left: 20px;
}

.rows {
  position: relative;
  right: 200px;
}
