.AllThings {
  border: 1px solid gray;
  background-color: black;
}

.setFont {
  background-color: burlywood;
  width: 500px;
  margin: auto;
}

.setFont h3 {
  font-family: sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.relation {
  text-decoration: none;
  font-size: 20px;
  width: 300px;
  margin: auto;
}

.imageSize:hover {
  scale: 1.05;
  transition: all 0.5s;
}

.linkText {
  color: red;
  text-decoration: none;
}

.linkText:hover {
  color: yellow;
  background-color: black;
  border-radius: 5px;
  font-size: 25px;
}
